@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] {
    display: none !important;
}

  .ts-cloakkkkk {
    visibility: hidden !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    pointer-events: none !important;
  }

  .ts-wrapper-cloak {
    visibility: hidden !important;
  }

